@{
    ViewData["Title"] = "Home Page Branch Adonis";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome Adonis!</h1>
    <p>Remote IP: @ViewBag.RemoteIpAddress </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
